<main>
    <section class="form-section">
        <h2>{{ title }}</h2>
        <ng-content></ng-content>
        <div class="btn-wrapper">
            <button type="button" class="primary-btn" (click)="submit()" [disabled]="disablePrimaryBtn">{{
                primaryButtonText }}</button>
            <div class="divider">
                <div></div>
                <span>ou</span>
                <div></div>
            </div>
            <button type="button" class="secondary-btn" (click)="navigate()">{{ secondaryButtonText }}</button>
        </div>
    </section>
    <section class="main-section">
        <img src="/assets/svg/logo.svg" />
        <h1>Iluminando ideias, conectando o futuro.</h1>
    </section>
</main>